*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
	height: 100%;
	width: 100%;
	position: relative;;
	background-color: white;

}
.judul-tentang{
  padding-bottom: 40px;
  font-size: 40px;
}

 #home{
  background: #143740;
  color: #FFF;
}
.content-row{
  width: 85%;
  display: flex;
  align-items: center;
  margin: auto;
}
.left-col, .right-col{
  flex-basis: 50%;
}

.left-col{
  padding: 50px 0;
}

.content-row img{
  width: 100%;
  margin-left: 10px;
  -webkit-animation:img ease 7s;
}
